<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-keychain-touch-id" 
		version="1.0.0">
    <name>TouchID and Keychain</name>
	  <author>S.J.Hoeksma</author>
    <description>TouchID and Keychain cordova plugin for iOS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,touchid,keychain,plugin</keywords>
    <engines>
      <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <repo>https://github.com/sjhoeksma/cordova-plugin-keychain-touch-id.git</repo>
    <issue>https://github.com/sjhoeksma/cordova-plugin-keychain-touch-id/issues</issue>
	  <js-module src="www/touchid.js" name="TouchID">
        <clobbers target="window.plugins.touchid" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TouchID">
                <param name="ios-package" value="TouchID"/>
            </feature>
        </config-file>
        <header-file src="src/ios/KeychainWrapper.h" />
        <source-file src="src/ios/KeychainWrapper.m" />
        <header-file src="src/ios/TouchID.h" />
        <source-file src="src/ios/TouchID.m" />
        <framework src="Security.framework" />
        <framework src="Foundation.framework"/>
        <framework src="LocalAuthentication.framework"/>
    </platform>
</plugin>