<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-keychain-touch-id"
		version="3.3.0">
    <name>TouchID and Keychain</name>
	  <author>S.J.Hoeksma</author>
    <description>TouchID and Keychain cordova plugin for iOS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,touchid,keychain,plugin</keywords>
    <engines>
      <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <repo>https://github.com/sjhoeksma/cordova-plugin-keychain-touch-id.git</repo>
    <issue>https://github.com/sjhoeksma/cordova-plugin-keychain-touch-id/issues</issue>
	  <js-module src="www/touchid.js" name="TouchID">
        <clobbers target="window.plugins.touchid" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TouchID">
                <param name="ios-package" value="TouchID"/>
            </feature>
        </config-file>
        <header-file src="src/ios/KeychainWrapper.h" />
        <source-file src="src/ios/KeychainWrapper.m" />
        <header-file src="src/ios/TouchID.h" />
        <source-file src="src/ios/TouchID.m" />
        <framework src="Security.framework" />
        <framework src="Foundation.framework"/>
        <framework src="LocalAuthentication.framework"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TouchID" >
                <param name="android-package" value="com.cordova.plugin.android.fingerprintauth.FingerprintAuth"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
            <!--<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />-->
        </config-file>

        <source-file src="src/android/FingerprintAuth.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintAuthAux.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintAuthenticationDialogFragment.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <source-file src="src/android/FingerprintUiHelper.java" target-dir="src/com/cordova/plugin/android/fingerprintauth" />
        <resource-file src="res/android/drawable/ic_fingerprint_error.xml" target="res/drawable/ic_fingerprint_error.xml" />
        <resource-file src="res/android/drawable/ic_fingerprint_success.xml" target="res/drawable/ic_fingerprint_success.xml" />
        <resource-file src="res/android/drawable-hdpi/ic_fp_40px.png" target="res/drawable-hdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-mdpi/ic_fp_40px.png" target="res/drawable-mdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-nodpi/android_robot.png" target="res/drawable-nodpi/android_robot.png" />
        <resource-file src="res/android/drawable-xhdpi/ic_fp_40px.png" target="res/drawable-xhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-xxhdpi/ic_fp_40px.png" target="res/drawable-xxhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_fp_40px.png" target="res/drawable-xxxhdpi/ic_fp_40px.png" />
        <resource-file src="res/android/layout/fingerprint_dialog_container.xml" target="res/layout/fingerprint_dialog_container.xml" />
        <resource-file src="res/android/layout/fingerprint_dialog_content.xml" target="res/layout/fingerprint_dialog_content.xml" />
        <resource-file src="res/android/values/fpauth-colors.xml" target="res/values/fpauth-colors.xml" />
        <resource-file src="res/android/values/fpauth-strings.xml" target="res/values/fpauth-strings.xml" />
        <resource-file src="res/android/values-es/fpauth-strings.xml" target="res/values-es/fpauth-strings.xml" />

    </platform>
</plugin>
